<div class = "row">
 <% @foods.each do |food|%>
  <div class = "col-lg-2 py-3">
   <!--class="mx-1 my-3 px-1"-->
   <div>
    <%= link_to food_path(food.id) do %>
     <%= image_tag food.get_food_image(150,150) %>
    <% end %>
   </div>
   <div class = "pt-1"><%= food.name %></div>
   
  </div>
 <% end %>
</div>

<div class = "fixed_btn">
 <%= link_to new_food_path, class:"btn btn-lg btn-warning" do %>
  <i class="fas fa-bone"></i>
  フードを追加する
 <% end %>
</div>
