<div class ="title">
 <h3><strong>フード一覧</strong></h3>
 <div class = "button">
 <%= link_to "新しくフードを追加する", new_food_path %>
 </div>
</div>

<% @foods.each do |food|%>
 <%= link_to food_path(food.id) do %>
  <%= image_tag food.get_food_image(100,100) %>
 <% end %>
 <%= food.name %>
 
<% end %>
