<h1>トップページだよ</h1>

<%= link_to "ログイン",new_end_user_session_path %>
<%= link_to "新規登録",new_end_user_registration_path%>



<!--<p>jQuery稼働テスト</p>-->
<!--<script type="text/javascript">-->
<!--  $(document).ready(function() {-->
<!--    $("p").text("jQuery稼働テスト(稼働中)");-->
<!--  });-->
<!--</script>-->