@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// .btn {
//   border-radius: 0px;
//   padding: .5rem 1rem;
// }

body{
 font-family:Meiryo ;
 color: #555;
// background: url(/images/image.jpg);
 }
 
 header{
  height:100px;
 }

main{
  background: 
  linear-gradient(to bottom, rgba(255,226,197,0.5) 0%, rgba(255,226,197,0.5) 100%),
  url(/images/image.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
 }

ul{
 list-style: none;
}

.alert-warning{
 color: #555;
 background-color:#ffe6e6;
 border-color:#ff0000;
}

// ミニバーナー
.fixed_btn { 
position: fixed;
bottom: 10px;
right: 10px;
padding: 6px 40px;
}

// ビックバーナー
.fixed_btn_lg { 
position: fixed;
bottom: 10px;
center: 10px;
}

// .img1{
// 	height: 200px;
// 	background: url(app/assets/images/image1.jpeg) no-repeat;
// }
// .img2{
// 	height: 200px;
// 	background: url(app/assets/images/image1.jpeg) no-repeat;
// }
// .img3{
// 	height: 200px;
// 	background: url(app/assets/images/image1.jpeg) no-repeat;
// }

