@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
 font-family:Meiryo ;
 color: #555;
// background: url(/images/image.jpg);
 }
 
main{
  // background-color:#ffffcc; 
  // linear-gradient(to bottom, rgba(255,226,197,0.5) 0%, rgba(255,226,197,0.5) 100%),
  background: url(/images/back.jpeg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
 }
 
 .btn-dark {
   color: #fff;
   background-color: #800000;
   border-color: #800000;
 }
 
.btn-dark:hover, .btn-dark:focus, 
.btn-dark:active, .btn-dark:active:focus, .btn-dark:active:hover, .btn-dark:active.focus,
.btn-dark.active, .btn-dark.active:focus, .btn-dark.active:hover, .btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark, 
.open > .dropdown-toggle.btn-dark:hover,
.open > .dropdown-toggle.btn-dark:focus, 
.open > .dropdown-toggle.btn-dark.focus,
.btn-dark.disabled:hover, .btn-dark[disabled]:hover, fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus, .btn-dark[disabled]:focus, fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus, .btn-dark[disabled].focus, fieldset[disabled] .btn-dark.focus {
    background: #800000; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}
 
 .btn-primary{
  color: #fff;
   background-color: #bc8f8f;
   border-color: #bc8f8f;
 }
 
.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #bc8f8f; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

 
 .line{
  white-space: nowrap;
  overflow: hidden;
 }
 
 .textb br {
  display: none;
}

@media only screen and (max-width: 500px) {
 .textb br {
   display: inline;
  }
}

ul{
 list-style: none;
}

.alert-warning{
 color: #555;
 background-color:#ffe6e6;
 border-color:#ff0000;
}

// ミニバーナー
.fixed_btn { 
position: fixed;
bottom: 10px;
right: 10px;
padding: 6px 40px;
}

// ビックバーナー
.fixed_btn_lg { 
position: fixed;
bottom: 10px;
center: 10px;
}

.pet_info{
 border: 4px solid; 
 border-color: #d3d3d3;
 border-radius: 8px;
 background-color :#e6f3ff;
}

.food_info{
 border: 4px solid; 
 border-color: #d3d3d3;
 border-radius: 8px;
 background-color :#ffffff;
}

.table{
  // width: 400px;
  max-width: 100%;
}

.image1 {
  background-image: url(https://p.e-words.jp/img/PNG.png);
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: static
}

.image2 {
  background-image: url(https://play-lh.googleusercontent.com/6wUgTzT_teY8_G2cl4nJZJ9aumkm89N3WggSFv1FayW-utPY653XC3U-HeoQTYTf2xc=w240-h480-rw);
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: static
}

.image3 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png);
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: static
}

// .slide-items {
//   list-style: none;
//   position: relative;
//   width: 200px;
//   height: 200px;
//   overflow: hidden;
// }

// .slide-items img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   transition: 4s linear transform .4s;
//   object-fit: cover;
// }

// .slide-items .zoom {
//   transform: scale(1.05);
// }
