<div class = "row">
<% @pets.each do |pet| %>
<div> 
 <%= link_to pet_path(pet) do %>
  <span class="balloon3-right-btm fuwafuwa">
   <%= pet.name %>
  </span>
  <%= image_tag pet.get_pet_image(200,200),class:"rounded-circle px-3 fuwafuwa" %>
 <% end %>
</div>
<% end %>
</div>

<div class="fixed_btn">
 <%= link_to new_pet_path, method: :get, class:"btn btn-warning mr-3" do %>
  <i class="fas fa-paw"></i>
   ウチの子を登録する
  <i class="fas fa-chevron-right"></i>
 <% end %>
</div>

