<div class ="title">
<h4><strong><i class="fas fa-paw"></i><%= @pet.name %>ちゃんの記録<i class="fas fa-paw"></i></strong></h3>
</div>

<div class = "my-3"><%= pie_chart @pet.foods.group(:name).count %></div>

 <%# @pet_food.each do |record| %>
  <%#= record.food.name %>
  <%#= record.amount %>
  <%#= pie_chart @chart %>
 <%# end %>

<div class = "text-center">
 <%= link_to "ウチの子一覧に戻る", pet_index_path, class:"btn btn-secondary my-3" %>
</div>

<br>
<div class = "row">
 <div class = "col-md-6"><i class="fas fa-dog fa-5x"></i></div>
 <div class = "col-md-6"><div class = "text-right"><i class="fas fa-cat fa-5x fa-flip-horizontal"></i></div></div>
</div>
<%#= column_chart Record.group(:food_id).sum(:amount) %>

<!--できたら実装したジャンルとタイプごとの記録-->
<%#= pie_chart @pet.foods.group(:type_id).count %>
<!--<= pie_chart @pet.foods.group(:genre_id).count %>-->




